@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&amp;display=swap');

* 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html
{
  font-size: 62.5%;
  	overflow-x: hidden;
}
body{
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  background-color: #F9F7F7;
}


.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bookcard
{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
@media (min-width: 600px) {
  .bookcard { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .bookcard { grid-template-columns: repeat(6, 1fr); }
}